
    <footer class="fixed-bottom p-2">
        <p class="text-center pt-2">Impulse Journal. &copy;<%= (new Date()).getFullYear(); %> All rights reserved.</p>
    </footer>

    <!-- include jquery -->
    <script type="text/javascript" src="/assets/jquery/js/jquery.min.js"></script> 

    <!-- popper js -->
    <!-- <script type="module" src="/assets/js/popper.js"></script> -->

    <!-- include bootstrap js -->
    <script type="text/javascript" src="/bootstrap/js/select2.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap-datepicker.js"></script>

    <!-- font awesome js -->
    <script type="text/javascript" src="/assets/fontawesome/js/all.js"></script> 

    <!-- toastr js library --> 
    <script type="text/javascript" src="/assets/toastr/js/toastr.min.js"></script>

    <!-- ckeditor js -->
    <script src="https://cdn.ckeditor.com/ckeditor5/44.3.0/ckeditor5.umd.js"></script>

    <!-- local js script -->
    <script src="/default/js/functions.js"></script>
    <script src="/default/js/global-local.js"></script>  
    <script type="module" src="/default/js/global-module.js"></script>  
    <script src="/default/js/lang/settings.js"></script>
    <script src="/default/js/lang/en.js"></script>

    <!-- DataTables --> 
    <script type="text/javascript" src="/assets/jquery/js/jquery.dataTables.js"></script>

    <!-- printing library --> 
    <script type="text/javascript" src="/assets/printjs/js/print.js"></script>

    <!-- Page JS --> 
    <script type="text/javascript" src="/assets/sweetalert/js/sweetalert2.js"></script>

</body>
</html>
