
<div class="sidebar">
    <h2>MyExpress</h2> 
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#docs">Documentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#settings">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</div>
