    <!-- include jquery -->
    <script type="text/javascript" src="assets/jquery/js/jquery.min.js"></script> 

    <!-- popper js -->
    <script type="module" src="assets/js/popper.js"></script>
    
    <!-- include bootstrap js -->
    <script type="text/javascript" src="bootstrap/js/select2.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-datepicker.js"></script>

    <!-- toastr js library --> 
    <script type="text/javascript" src="assets/toastr/js/toastr.min.js"></script>

    <!-- local js script -->
    <script src="default/js/functions.js"></script>
    <script src="default/js/global.js"></script>  
    <script src="default/js/lang/settings.js"></script>
    <script src="default/js/lang/en.js"></script>

    <!-- DataTables --> 
    <script type="text/javascript" src="assets/jquery/js/jquery.dataTables.js"></script>

    <!-- printing library --> 
    <script type="text/javascript" src="assets/printjs/js/print.js"></script>

    <!-- Page JS --> 
    <script type="text/javascript" src="assets/sweetalert/js/sweetalert2.js"></script>

</body>
</html>
