<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | MyExpress</title>

    <!-- bootstrap css  -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-datepicker.css" rel="stylesheet"> 

    <!-- datatables css --> 
    <link href="assets/jquery/css/jquery.dataTables.css" rel="stylesheet"> 

    <!-- toatr css --> 
    <link href="assets/toastr/css/toastr.min.css" rel="stylesheet"> 

    <!-- printing css library --> 
    <link href="assets/printjs/css/print.css" rel="stylesheet"> 

    <!-- local css -->
    <link href="default/css/auth.css" rel="stylesheet">
    <link href="default/css/global.css" rel="stylesheet">
</head>
<body>
